.body{
    max-width:100%;
    margin: 2em auto;
    text-align: center;
    padding-left: 13%;
    padding-right: 13%;
    padding-top: 10px;
  }
  .button {
    padding: 15px 65px;
    font-size: 24px;
    color: #fff;
    outline: none;
    border: none;
    background-color: #458347;
  }
