<div class="body">
  <mat-toolbar class="text-center">
    Card Memory Game
  </mat-toolbar>
  <mat-card class="register">
    <div class="p-16">
      <div *ngIf="coins == 0">
        <p class="text-center">Price game 1ETH</p>
        &nbsp;
        <button class="button" (click)="playGame($event)">Play</button>
        &nbsp;
        <br><br>
      </div>
      <div *ngIf="coins > 0">
        <p class="text-center">Tap on a card to flip it. You can only flip a maximum of two cards at a time. A match will
          remove
          those cards!</p>
        <div class="grid p-16">
          <app-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
          </app-card>
        </div>
      </div>
    </div>
  </mat-card>
</div>
